<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Add_it</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>env</param-name>
    <param-value>/WEB-INF/classes.prop</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>IndividualServlet</display-name>
    <servlet-name>IndividualServlet</servlet-name>
    <servlet-class>com.ai.control.IndividualServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualServlet</servlet-name>
    <url-pattern>/indi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyServlet</display-name>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>com.ai.control.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyLineServlet</display-name>
    <servlet-name>ApplyLineServlet</servlet-name>
    <servlet-class>com.ai.control.ApplyLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLineServlet</servlet-name>
    <url-pattern>/applyline</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ai.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.ai.control.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginedServlet</display-name>
    <servlet-name>CheckLoginedServlet</servlet-name>
    <servlet-class>com.ai.control.CheckLoginedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginedServlet</servlet-name>
    <url-pattern>/checklogined</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.ai.control.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertisementListServlet</display-name>
    <servlet-name>AdvertisementListServlet</servlet-name>
    <servlet-class>com.ai.control.AdvertisementListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementListServlet</servlet-name>
    <url-pattern>/advlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationListServlet</display-name>
    <servlet-name>LocationListServlet</servlet-name>
    <servlet-class>com.ai.control.LocationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationListServlet</servlet-name>
    <url-pattern>/loclist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderByAddDateListServlet</display-name>
    <servlet-name>OrderByAddDateListServlet</servlet-name>
    <servlet-class>com.ai.control.OrderByAddDateListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderByAddDateListServlet</servlet-name>
    <url-pattern>/orderlist1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderByStartMonthListServlet</display-name>
    <servlet-name>OrderByStartMonthListServlet</servlet-name>
    <servlet-class>com.ai.control.OrderByStartMonthListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderByStartMonthListServlet</servlet-name>
    <url-pattern>/orderlist2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderByTermListServlet</display-name>
    <servlet-name>OrderByTermListServlet</servlet-name>
    <servlet-class>com.ai.control.OrderByTermListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderByTermListServlet</servlet-name>
    <url-pattern>/orderlist3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderByFeeListServlet</display-name>
    <servlet-name>OrderByFeeListServlet</servlet-name>
    <servlet-class>com.ai.control.OrderByFeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderByFeeListServlet</servlet-name>
    <url-pattern>/orderlist4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertisementDetailServlet</display-name>
    <servlet-name>AdvertisementDetailServlet</servlet-name>
    <servlet-class>com.ai.control.AdvertisementDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementDetailServlet</servlet-name>
    <url-pattern>/advdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByLocationListServlet</display-name>
    <servlet-name>FindByLocationListServlet</servlet-name>
    <servlet-class>com.ai.control.FindByLocationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByLocationListServlet</servlet-name>
    <url-pattern>/findloc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdvertisementServlet</display-name>
    <servlet-name>AddAdvertisementServlet</servlet-name>
    <servlet-class>com.ai.control.AddAdvertisementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdvertisementServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DuplicateIdCheckServlet</servlet-name>
    <servlet-class>com.ai.control.DuplicateIdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuplicateIdCheckServlet</servlet-name>
    <url-pattern>/duplicatecheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPageLoadServlet</display-name>
    <servlet-name>AddPageLoadServlet</servlet-name>
    <servlet-class>com.ai.control.AddPageLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPageLoadServlet</servlet-name>
    <url-pattern>/addload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccServlet</display-name>
    <servlet-name>AccServlet</servlet-name>
    <servlet-class>com.ai.control.AccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccServlet</servlet-name>
    <url-pattern>/acc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUploadFileServlet</display-name>
    <servlet-name>AddUploadFileServlet</servlet-name>
    <servlet-class>com.ai.control.AddUploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUploadFileServlet</servlet-name>
    <url-pattern>/addupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApplyServlet</display-name>
    <servlet-name>AddApplyServlet</servlet-name>
    <servlet-class>com.ai.control.AddApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApplyServlet</servlet-name>
    <url-pattern>/addapply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcnoInfoServlet</display-name>
    <servlet-name>AcnoInfoServlet</servlet-name>
    <servlet-class>com.ai.control.AcnoInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcnoInfoServlet</servlet-name>
    <url-pattern>/acnoinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompareWithApplyDateServlet</display-name>
    <servlet-name>CompareWithApplyDateServlet</servlet-name>
    <servlet-class>com.ai.control.CompareWithApplyDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareWithApplyDateServlet</servlet-name>
    <url-pattern>/compare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAcnoServlet</display-name>
    <servlet-name>UpdateAcnoServlet</servlet-name>
    <servlet-class>com.ai.control.UpdateAcnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAcnoServlet</servlet-name>
    <url-pattern>/updateacno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertUploadServlet</display-name>
    <servlet-name>CertUploadServlet</servlet-name>
    <servlet-class>com.ai.control.CertUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertUploadServlet</servlet-name>
    <url-pattern>/certupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyServlet</display-name>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.ai.control.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyAdvRegisterListServlet</display-name>
    <servlet-name>CompanyAdvRegisterListServlet</servlet-name>
    <servlet-class>com.ai.control.CompanyAdvRegisterListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyAdvRegisterListServlet</servlet-name>
    <url-pattern>/comadvrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertisementRegisterListServlet</display-name>
    <servlet-name>AdvertisementRegisterListServlet</servlet-name>
    <servlet-class>com.ai.control.AdvertisementRegisterListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementRegisterListServlet</servlet-name>
    <url-pattern>/advrgls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmAdvRegisterListServlet</display-name>
    <servlet-name>ConfirmAdvRegisterListServlet</servlet-name>
    <servlet-class>com.ai.control.ConfirmAdvRegisterListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmAdvRegisterListServlet</servlet-name>
    <url-pattern>/confirmadvrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByCityCodeAdvListServlet</display-name>
    <servlet-name>FindByCityCodeAdvListServlet</servlet-name>
    <servlet-class>com.ai.control.FindByCityCodeAdvListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByCityCodeAdvListServlet</servlet-name>
    <url-pattern>/findcityadv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationAllListServlet</display-name>
    <servlet-name>LocationAllListServlet</servlet-name>
    <servlet-class>com.ai.control.LocationAllListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationAllListServlet</servlet-name>
    <url-pattern>/localllist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyListServlet</display-name>
    <servlet-name>ApplyListServlet</servlet-name>
    <servlet-class>com.ai.control.ApplyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyListServlet</servlet-name>
    <url-pattern>/applylist</url-pattern>
  </servlet-mapping>
</web-app>